<footer class="footer">
    <div class="container footer-info">
        <ul class="footer-nav">
            <li><a href="index.html">首頁</a></li>
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
        </ul>

        <ul class="footer-icon">
            <li><a href=""><img src="../assets/images/ic-social-fb.png" alt="fb link"></a></li>
            <li><a href=""><img src="../assets/images/ic_social_ig.png" alt="ig link"></a></li>
            <li><a href=""><img src="../assets/images/ic_social_line.png" alt="ig link"></a></li>
        </ul>

        <div class="footer-detail phone">
            <span class="material-symbols-outlined">call</span>
            <h3>0800-000-000</h3>
        </div>

        <div class="footer-detail mail">
            <span class="material-symbols-outlined">mail</span>
            <h3>glasses@business.com</h3>
        </div>
    </div>

    <div class="container copyright pt-32 pb-32 ">
        <div class="font-roboto">
            <p>.Copyright © 2020 Glasses.All rights reserved.</p>
        </div>
        <ul class="copyright-sub">
            <li><a href="#">隱私權政策</a></li>
            <li><a href="#">服務條款</a></li>
        </ul>
    </div>
</footer>