.header{
  background: $primary;
  font-size: 20px;
  color:white;
 
  .container{
    @include mobile {
       padding:0;      
    } 
  }


  h1 > a {
    display: block;
    background-image: url("/assets/images/logo-white.png");
    background-size: cover;    
    width: 80px;
    height: 48.57px;
    // --------業界常用技巧以圖片取代文字，尤其是LOGO
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    // ---------------------------------------- 
    @include mobile {
      margin:15px;      
   } 
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
    @include mobile {
      flex-direction: column;
      //wrap li
      flex-wrap: wrap; 
      //眼鏡logo
      align-items:flex-start;    
    } 

    ul{
      display: flex;
      align-items: center;  
      @include mobile {
        flex-wrap: wrap;
        width: 100%;
      }    
    }

    li{
      padding: 25px 0;
      padding-left: 64px;
      @include mobile {
        font-size: 16px;
        text-align: center;
        border: 1px solid #fff;
        padding: 12px 0;
        width: 50%;
      }
    }
  }
}

