@import "https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0";

$primary: #AA0601;
$secondary: #FBF2F2;
$primary-dark:#650300;

$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-36: 36px;
$font-size-48: 48px;
$font-size-64: 64px;

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
    // 左右留白
    padding: 0 12px;
    // border: 2px solid white;
}

body,button {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}


img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    //image預設對齊base line，image會有多餘空間，處理IMAGE多餘空間使用
}

.pt-32 {
    padding-top:32px;
}

.pb-32 {
    padding-bottom:32px;
}