<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>眼鏡首頁</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="banner">
      <div class="container">
        <p>Promise-Desert 2020 早春系列</p>
        <h2>看得清，才能看得遠</h2>
        <button type="button">立即購買</button>
      </div>
    </div>

    <div class="intro">
      <div class="container">
        <h3>用專業的心，做專業的事</h3>
        <ul class="intro-sub">
          <li>
            <img src="/assets/images/home-section2-1.png" alt="單一價格" />
            <h4>單一價格</h4>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li>
            <img src="/assets/images/home-section2-2.png" alt="20 分鐘即可取件" />
            <h4>20 分鐘即可取件</h4>
            <p>
              為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
              20 分鐘即可完成。
            </p>
          </li>
          <li>
            <img src="/assets/images/home-section2-3.png" alt="安心售後服務" />
            <h4>安心售後服務</h4>
            <p>
              我們提供長達 120
              天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
            </p>
          </li>
          <li>
            <img src="/assets/images/home-sectioin2-4.png" alt="關於鏡片" />
            <h4>關於鏡片</h4>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="classic">
      <div class="container">
        <h3>經典系列鏡框</h3>
        <ul>
          <li>
            <img src="/assets/images/home-section3-1.png" alt="OPTICAL" />
            <h4 class="font-roboto">OPTICAL</h3>
          </li>
          <li>
            <img src="/assets/images/home-section3-2.png" alt="SUNGLASSES" />
            <h4 class="font-roboto">SUNGLASSES</h3>
          </li>
          <li>
            <img src="/assets/images/home-section3-3.png" alt="FUNCTIONAL" />
            <h4 class="font-roboto">FUNCTIONAL</h3>
          </li>
        </ul>
      </div>
    </div>

    <div class="design">
      <div class="container">
        <h3>聯名設計鏡框</h3>
        <ul>
          <li>
            <img src="/assets/images/home-section4-1.png" alt="DOUBLE A+" />
            <h4 class="font-roboto">DOUBLE A+</h3>
          </li>
          <li>
            <img src="/assets/images/home-section4-2.png" alt="YOUTH" />
            <h4 class="font-roboto">YOUTH</h3>
          </li>
        </ul>
      </div>
    </div>

    <div class="recommendation">
      <div class="container">
        <h3>顧客推薦</h3>
        <ul>
          <li>
            <div class="card">
              <img src="/assets/images/home-section5-1.png" alt="recommendation 1">
              <div class="card-body">
                <p>Jessy</p>
                <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                <p>2021/06/20</p>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <img src="/assets/images/home-section5-2.png" alt="recommendation 2">
              <div class="card-body">
                <p>凱倫</p>
                <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                <p>2021/04/18</p>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <img src="/assets/images/home-section5-3.png" alt="recommendation 3">
              <div class="card-body">
                <p>悠悠</p>
                <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                <p>2020/12/25</p>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <img src="/assets/images/home-section5-4.png" alt="recommendation 4">
              <div class="card-body">
                <p>Kyuan</p>
                <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                <p>2020/10/31</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="contact-us">
      <h3>聯絡我們</h3>
      <div class="container contact-us-sub">

        <div class="contact-us-form">
           <p class="mb-24">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
           <label for="name" class="mb-8">姓名</label>
           <br>
           <input type="text" placeholder="陳小明" id="name" class="form-control mb-22" />
           <br>
           <label for="phone" class="mb-8">聯絡電話</label>
           <br>
           <input type="text" placeholder="0912-345-678" id="phone" class="form-control mb-22"/>
           <br>
           <label for="mail" class="mb-8">電子郵件</label>
           <br>
           <input type="text" placeholder="example@email.com" id="mail" class="form-control mb-22"/>
           <br>
           <label for="memo" class="mb-8">意見反應</label>
           <br>
           <textarea id="memo"  placeholder="請輸入您的意見" class="form-control mb-22"></textarea>
           <br>
           <input type="checkbox" name="privacy_rights" id="privacy_rights" class="mb-16">
           <label for="privacy_rights">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
           <br>
           <div class="text-align-center">
            <button type="button" class="btn-submit mt-48">確認送出</button>
           </div>
           
        </div>
      </div>
    </div>



    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>