<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>系列鏡框</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="container product-page">
            <div class="tabs font-roboto">
                <input type="radio" class="tabs-radio" name="tabs-group" id="tab1" checked>
                <label for="tab1" class="tabs-label">OPTICAL</label>
                <div class="tabs-content">
                    <div class="product-banner">
                        <img src="/assets/images/product-header-1.png" alt="product banner 1">
                        <img src="/assets/images/product-header-2.png" alt="product banner 1">
                    </div>
                    <div class="container product-page-sub-one">
                        <h3 class="font-roboto">Celluloid Combi</h3>
                        <h4>賽璐珞鈦金屬混合鏡框</h4>
                        <ul>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-1.png" alt="product-1">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-2.png" alt="product-2">
                                    <div class="card-body">

                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-3.png" alt="product-3">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-4.png" alt="product-4">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-5.png" alt="product-5">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-6.png" alt="product-6">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-7.png" alt="product-7">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-8.png" alt="product-8">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-9.png" alt="product-9">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-10.png" alt="product-10">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-11.png" alt="product-11">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-12.png" alt="product-12">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <!-- 分頁部分 -->
                        <ul class="pagination">
                            <li>
                                <a href="#">上一頁</a>
                            </li>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#" class="active">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">下一頁</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <input type="radio" class="tabs-radio" name="tabs-group" id="tab2">
                <label for="tab2" class="tabs-label">SUNGLASSES</label>
                <div class="tabs-content">
                    <div class="product-banner">
                        <img src="/assets/images/product-header-1.png" alt="product banner 1">
                        <img src="/assets/images/product-header-2.png" alt="product banner 1">
                    </div>
                    <div class="container product-page-sub-two">
                        <h3 class="font-roboto">2020 NEW COLLECTION</h3>
                        <h4>賽璐珞鈦金屬混合鏡框</h4>
                        <ul>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-1.png" alt="product-1">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-2.png" alt="product-2">
                                    <div class="card-body">

                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-3.png" alt="product-3">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-4.png" alt="product-4">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-5.png" alt="product-5">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/product-6.png" alt="product-6">
                                    <div class="card-body">
                                        <div class="card-body-info">
                                            <p>BJ41600S</p>
                                            <p>NTD3,490</p>
                                        </div>

                                        <div class="text-align-left">
                                            <div class="dark-box"></div>
                                            <div class="light-box"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>

                        <!-- 分頁部分 -->
                        <ul class="pagination">
                            <li>
                                <a href="#">上一頁</a>
                            </li>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#" class="active">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">下一頁</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <input type="radio" class="tabs-radio" name="tabs-group" id="tab3">
                <label for="tab3" class="tabs-label">FUNCTIONAL</label>
                <div class="tabs-content">
                    <div class="product-banner">
                        <img src="/assets/images/product-header-1.png" alt="product banner 1">
                        <img src="/assets/images/product-header-2.png" alt="product banner 1">
                    </div>
                    <div class="container product-page-sub-three">
                        3
                    </div>
                </div>
            </div>
        </div>



        <div class="container product-list">



        </div>

        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>